.tab {
  padding: 12px 16px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1422bd;
}

.tab:hover {
  border-color: var(--color-primary);
}

.tab.active {
  border-color: orangered;
  font-weight: bold;
}
